/**
 * Site header
 */
.site-header {
    min-height: 160px;
    // Positioning context for the mobile navigation icon
    position: relative;
    display: block;

    // Background image
    // background-image: url("/assets/images/banner.png");
    // background-repeat: no-repeat;
    // background-position: center;``
    // background-size: cover;

}

@mixin gradient-text($text, $background, $gradient) {
  background: white;
  color: black;
  position: relative;

  // Hide aliased edges caused by mixing blend modes. Will appear as a faint dark outline on certain backgrounds. Tweak to improve rendering
    text-shadow:
      1px 1px 0px $background,
      1px -1px 0px $background,
      -1px -1px 0px $background,
      -1px 1px 0px $background;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // Make cursor ignore these, allowing text underneath to be clicked and selected
    pointer-events: none;
  }

  &::before {
    // Gradient
    background: $gradient;
    content: '';
    display: block;
    mix-blend-mode: screen;
  }

// Everything below can be removed when using a #fff background. Ditto when using a black background, provided the mix-blend-modes, text, background color are reversed. (Screen to multiply, white to black)

  &::after {
// Duplicate gradient text. Yes, it's ugly. Change the value below without changing the HTML for fun times.
    content: $text;
    //background: $background;

    color: white;
    mix-blend-mode: multiply;
  }

}

.site-title{
    font-family: 'Reenie Beanie', cursive;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    letter-spacing: -3px;
    display: block;
    text-align: center;

    a {
      text-align: center;
    }

    &,
    &:visited {
        color: #D4AF37;
        @include gradient-text('The Sun and the Moon', #fff/*Outline*/, linear-gradient(to top, #c7a600/*Unknown*/, #D4AF37/*Bottom*/, #CFB53B/*Middle*/, #FFDF00/*Top*/, #000/*Unknown*/));
    }
}

.site-subtitle {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 4px 3px 4px rgba(150, 150, 150, 1);
    letter-spacing: -1px;
    display: block;
    text-align: center;
    color: #D4AF37;
}


.site-nav {
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;

    ul {
        display: inline-block;
        list-style-type: none;
        width: 100%;
        margin-left: 0px;

        overflow: hidden;
        text-align: center;
        padding: 0;
        list-style: none;

        background: #8B8B8B;
        background: linear-gradient(top,  #DEDEDE,  #ADADAD);
        background: -ms-linear-gradient(top,  #DEDEDE,  #ADADAD);
        background: -webkit-gradient(linear, left top, left bottom, from(#DEDEDE), to(#ADADAD));
        background: -moz-linear-gradient(top,  #DEDEDE,  #ADADAD);
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border: 0.5px solid #eee;
    }

    li {
        display: inline-block;
        //border: 0.5px solid #eee;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        text-align: center;
    }

    li a {
        display: inline-block;
        color: #000;
        text-align: left;
        padding: 0px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #D4AF37;
        border-radius: 24px;
    }

    .active{
        background-color: #D4AF37;
        text-decoration: underline;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }

}


/**
 * Site footer
 */
.site-footer {
    font-family: 'Reenie Beanie', cursive;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 20px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    padding: $spacing-unit 0;

}

.page-heading {
	font-family: 'Reenie Beanie', cursive;
  color: inherit;
  text-decoration: underline;
  font-weight: 400;
  font-size: 60px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 20px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-decoration: underline;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    text-decoration: underline;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
